.cookie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.h2-cookie {
  color: white;
  margin-bottom: 20px;
}

.p-cookie {
  color: white;
  margin-top: 20px;
}

.cookie-button {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  transition:
    transform 0.15s ease,
    box-shadow 0.3s ease;
  animation: subtleFloat 8s ease-in-out infinite;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.cookie-button:hover {
  transform: scale(1.05);
  box-shadow:
    0 0 25px rgba(255, 215, 0, 0.6),
    0 0 50px rgba(255, 140, 0, 0.4);
}

.cookie-button:active {
  transform: scale(0.5);
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.9);
}

@keyframes subtleFloat {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.cookie-container p {
  font-size: 22px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  background: white;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

/* Animation clic */
.clicked {
  animation: clickImpact 0.15s ease;
}

@keyframes clickImpact {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Texte flottant */
.floating-text {
  position: absolute;
  color: gold;
  font-weight: bold;
  font-size: 50px;
  pointer-events: none;
  animation: floatUp 0.8s ease-out forwards;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-40px);
  }
}

.save-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.save-buttons button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: white;
  transition: 0.2s;
}

.save-buttons button:hover {
  background-color: #555;
}
